*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.clear{
    clear: both;
}
/* Top Header Start */
.top-header{
    width: 100%;
    height: 60px;
}
.top-menu{
    float: right;
    margin-right: 40px;
    margin-top: 15px;
}
.top-menu a{
    text-decoration: none;
    color: #969696;
    padding: 5px 10px;
    font-size: 16px;
}
/* Top Header End */
/* Nav Menu Start */
.header{
    height: 70px;
    width: 100%;
}
.logo{
    float: left;
    margin-left: 80px;
}
.logo a{
text-decoration: none;
font-size: 48px;
color: #000000;
vertical-align: middle;

}
.nav{
    float: right;
    margin-right: 50px;
}
.nav ul li{
    list-style: none;
    float: left;
    padding: 10px 15px;
    vertical-align: middle;
}
.nav ul li a{
text-decoration: none;
color: #2f2f2f;
font-size: 20px;
}
.nav ul li a:hover{
color: #e0896d;

}
/* Nav Menu Emd */
/* Main content Start*/
.main-section{
    height: 90vh;
    width: 100%;
    display: flex;
}
.tecnology{
    height: 400px;
    width: 400px;
    margin-top: 100px;
    margin-left: 250px;
}
.tecnology h3{
font-weight: 500;
font-size: 30px;
}
.tecnology h1{
    font-weight: 900;
    font-size: 100px;
 }
.tecnology p{
        font-weight: 300;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
}
.tecnology a{
            font-weight: 300;
            font-size: 20px;
            text-decoration: none;
            background-color: #e0896d;
           padding: 10px 20px;
}

 .drone-img img{
    margin-top: 100px;
    height: 300px;
    width: 600px;
 }
/* Main content End*/
/* About Start*/
.about{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #ededed;

}
.about-text{
    height: 400px;
    width: 650px;
    margin-top: 130px;
    margin-left: 200px;
}
.about-text h1{
    font-size: 35px;
   line-height: 40px; 
   margin-bottom: 20px;
}
.about-text p{
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 30px;
}
.a{
    margin-top: 40px;

}
.about-text .a a{
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    background-color: #e0896d;
   padding: 10px 20px;
}
.about-img img{
    margin-top: 80px;
    height: 450px;
    width: 400px;
 }
/* About End*/
/*  Product cart Start */
.product{
    height: 120vh;
    width: 100%;
    padding-top: 100px;
}
.product-text{
    margin-left: 100px;
}
.product h1{
    font-size: 35px;
   line-height: 40px; 
   margin-bottom: 20px;
}
.product-text p{
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 30px;
}
.cart-group{
    display: flex;
    margin-left: 80px;
    margin-top: 60px;
}
.cart{
    height: 300px;
    width: 400px;
    padding: 20px;
}

.cart-img img{
    height: 350px;
    width: 350px;
}
.cart-text{
    height: 350px;
    width: 350px;
    padding: 8px;
}
.cart-text p{
  
   padding: 5px 0px 10px 0px;
}
.cart-text a{
    padding-top: 16px;
    font-weight: 500;
    font-size: 20px;
 text-decoration: underline;
    
}


.product-group{
    display: flex;
    margin: 150px 40px;
}

.product-img img{
  height: 500px;
  width: 400px;
  padding: 5px;
}
.product-img .product-dobol img{
    height: 250px;
    width: 400px;
}

/*  Product cart End */

.latest-produc{
    background-color: #ededed;
    height: 130vh;
    width: 100%;
    padding: 80px 0px;

}
.latest-produc h1{
    margin-left: 100px;
font-size: 48px;
}

/* About Start*/
.subscribe{
    display: flex;
    height: 100vh;
    width: 100%;
   

}
.subscribe-text{
    height: 400px;
    width: 500px;
    margin-top: 130px;
    margin-left: 180px;
}
.subscribe-text h1{
    font-size: 35px;
   line-height: 40px; 
   margin-bottom: 20px;
}
.subscribe-text h3{
line-height: 50px;
}
.subscribe-text p{
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 30px;
}


.subscribe-img img{
    margin-top: 80px;
    height: 450px;
    width: 400px;
    margin-left: 100px;
 }
 .btn{
    margin-top: 50px;
 }
 .btn input{
    background-color: #ededed;
    border: none;
    padding: 8px  85px 8px 10px;
 }
 .btn button{
    background-color: #e0896d;
    border: none;
    padding: 8px 25px;
 }
/* About End*/
.footer{
    height: 50vh;
    width: 100%;
    background-color: #ededed;
    display: flex;

}
.catagary{
    height: 300px;
    width: 300px;
    padding-top: 80px;
    margin-left: 100px;
}
.catagary p{
line-height: 40px;
}

.copyright{
    float: left;
    margin-left: 50px;
    
}
.copyright p{
   margin-top: 5px;
}
.socual{
    float: right;
    margin-right: 50px;
}
.socual i{
   padding: 8px 20px;
}